<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 配置注解扫描器-->
    <context:component-scan base-package="biz"/>
    <context:component-scan base-package="controller"/>
    <!--用于加载配置文件 jdbc.properties-->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!--dataSources-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <!-- 连接数据库的驱动，连接字符串，用户名和登录密码-->
        <property name="driverClassName" value="${driverClassName}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${user}"/>
        <property name="password" value="${password}"/>
        <!-- 数据池中最大连接数和最小连接数-->
        <property name="maxActive" value="${maxActive}"></property>
        <property name="minIdle" value="${minIdle}"></property>
    </bean>
    <!--sqlSessionFactory-->
    <!-- 2) 获取 SqlSessionFactory 对象，并交由 spring 管理 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--数据源-->
        <property name="dataSource" ref="dataSource"/>
        <!--别名-->
        <property name="typeAliasesPackage" value="bean"/>
        <!--引入配置文件-->
        <property name="configLocation" value="classpath:mybatis-config.xml"></property>
        <!-- 注入 映射文件 mapper
        给 sqlsessionFactory 的属性 mapperLocation 赋值
          value="映射文件 XXXmapper.xml 的相对路径"
         -->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>
    <!--dao创建bean -->
    <!--4 自动扫描对象关系映射  dao接口生成bean -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--使用这个-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
        <!-- 指定要自动扫描接口的基础包，实现接口 -->
        <property name="basePackage" value="dao"></property>
    </bean>
</beans>